@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
  --primary: #0d6efd;
  --white: #ffffff;
  --body: #888;
}

body {
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
  font-weight: 700;
}

a {
  color: var(--white);
  text-decoration: none;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  padding-top: 16px;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

.card {
  margin-bottom: 20px;
}

