{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <!-- <script src="path/to/your/javascript/file.js"></script> -->
  </head>
  <body>
    <header>
      <h1>My App</h1>
      <ul>
        <li><a href="{% url 'myapp:post_list' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li class="auth-links">
            <p>Logged in as: {{ user.username }}</p>
            <a href="{% url 'profile' %}">Edit Profile</a>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        {% else %}
          <li class="auth-links">
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'signup' %}">Sign up</a>
          </li>
        {% endif %}
      </ul>
    </header>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
