{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>My App</title>
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <!-- <script src="path/to/your/javascript/file.js"></script> -->
  </head>
  <body class="bg-secondary">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
          <h1 class="navbar-brand">Portfolio 掲示板</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_posts' %}">My posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' user.username %}">Edit Profile</a>
              </li>
              <li class="nav-item align-items-center">
                <p class="text-white m-0">ログインユーザー: {{ user.username }}</p>
              </li>
              <li class="nav-item ms-3">
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
              </li>
              {% else %}
                <li class="auth-links">
                  <a href="{% url 'login' %}">Log in</a>
                  <a href="{% url 'signup' %}">Sign up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
