{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
  <div style="text-align: center; width: 80%;">
    <h1>Add Comment 編集!</h1>
    <form method="POST" class="comment-form bg-dark" action="{% url 'add_comment_to_post' pk=post.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

