{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Post List</h1>
<a href="{% url 'post_create' %}">Create a new post</a>
<div class="post-section">
  <h2>Post Ranking</h2>
  <ol class="ranking-list">
    {% for post in ranked_posts %}
      <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> (Views: {{ post.views }})</li>
    {% empty %}
      <li>No posts yet.</li>
      <li>Be the first to create a post and get to the top of the ranking!</li>
    {% endfor %}
  </ol>
</div>

<div class="post-section">
  <h2>All Posts</h2>
  <ul class="post-list">
    {% for post in posts %}
      <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

