{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card my-4 bg-dark border border-light">
          <div class="card-body">
            <h1 class="text-center">{{ post.title }}</h1>
            <div class="post-content border border-light">
              <p>{{ post.content }}</p>
            </div>
            <p>Posted by <a href="{% url 'profile' username=post.author %}">{{ post.author }}</a> on {{ post.created_at }}</p>
            {% if user.is_authenticated and user == post.author %}
              <div>
                <a href="{% url 'post_edit' post.pk %}" class="btn btn-primary btn-sm border border-light">Edit</a>
                <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger btn-sm border border-light">Delete</a>
                <p> </p>
              </div>
            {% endif %}

            <form method="POST" action="{% url 'post_like' post.pk %}">
              {% csrf_token %}
              {% if request.user in post.likes.all %}
                <button type="submit" class="btn btn-sm btn-danger">Unlike</button>
              {% else %}
                <button type="submit" class="btn btn-sm btn-outline-primary">Like</button>
              {% endif %}
            </form>
            <p>{{ post.likes.count }} likes</p>

            <hr>

            <div class="comments">
              <h2>Comments</h2>
              {% for comment in comments %}
                <div class="comment border border-secondary rounded text-white">
                  <p class="info">
                    {{ comment.author }}
                    <span class="date">{{ comment.created_date }}</span>
                  </p>
                  {% if comment.approved_comment %}
                    <p>{{ comment.text|linebreaks }}</p>
                  {% else %}
                    <p class="text-muted">This comment is waiting for approval by the site administrator.</p>
                  {% endif %}
                </div>
              {% empty %}
                <p>No comments yet.</p>
              {% endfor %}
            </div>

            <p>Views: {{ post.views }}</p>
            <p>{{ post.text|linebreaks }}</p>

            {% if user.is_authenticated %}
          <div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
            <div style="text-align: center; width: 80%;">
              <h1>Add Comment 編集!</h1>
              <form method="POST" class="comment-form bg-dark" action="{% url 'add_comment_to_post' pk=post.pk %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
