{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">{{ profile.user.username }}'s Profile</h1>
      {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}" class="img-thumbnail" style="display: block; margin: 0 auto; max-width: 100%; height: auto; width: 200px; height: 200px;">
    {% else %}
      <img src="{% static 'images/default_avatar.png' %}" alt="{{ profile.user.username }}" class="img-thumbnail mb-3" style="display: block; margin: 0 auto; max-width: 100%; height: auto; width: 200px; height: 200px;">
    {% endif %}
      <div class="card mb-3 bg-dark border border-light">
        <div class="card-body">
          <h3 class="card-title">紹介文</h3>
          <p class="card-text">{{ profile.bio }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark border border-light">
            <h3 class="card-title">居場所</h3>
            <p class="card-text text-white">{{ profile.location }}</p>
          </li>
          <li class="list-group-item bg-dark">
            <h3 class="card-title">Website</h3>
            <p class="card-text text-white">{{ profile.website }}</p>
          </li>
        </ul>
        <div class="card-body">
          <h5 class="card-title">Followers: {{ followers_count }}</h5>
          <a href="{% url 'followers' username=profile.user.username %}" class="card-link">View Followers</a>
        </div>
      </div>


      {% if request.user.is_authenticated %}
        {% if request.user == profile.user %}
          <h2 class="text-center">プロフィール編集</h2>
          <form method="POST" enctype="multipart/form-data" class="text-center bg-dark">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">保存</button>
          </form>
        {% else %}
          {% if is_following %}
            <form action="{% url 'unfollow' username=profile.user.username %}" method="POST" class="text-center">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Unfollow</button>
            </form>
          {% else %}
            <form action="{% url 'follow' username=profile.user.username %}" method="POST" class="text-center">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Follow</button>
            </form>
          {% endif %}
        {% endif %}
      {% else %}
        <p class="text-center">このユーザーをフォローするにはログインする必要があります</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
